body{
    background-color: #f8f9fa;}

.container{

    margin-right: 7%;}
.d-flex {
    width: 30%;}

.d-flex :nth-child(1) {
    border-radius: 30PX;
    border: none;
    color: gray;
}
.d-flex :nth-child(2){
    background-color: #D9415D;
    border-radius: 30px;
    border: none;
    color: white;}

.icons{
    margin-right: 0px;
}

.list-group{
    background-color: #ffffff;
    width: 100%;
    height: 70vh;
    border-radius:0px;
    margin-top: 6%;
    border-radius: 20px;
    box-shadow: #b2daff 0px 0px 23px -7px;}

.list-group :nth-child(1){
    margin-top: 28%;
}

.list-group li{
    border: none;
    background-color: white;
    height: 10%;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(52, 52, 52);
    
    }
.list-group li img {
    width: 15%;
    padding-bottom: 35%;
   
}
.list-group li p{
    padding-left: 10%;
    font-size: 1.2rem;
}
.dashboard-h2 h2{
    margin-top: 3%;
    text-align: start;
    margin-left: 5%;
}
.dashboard-h2 p{
    margin-left: 5%;
    text-align: start;
}

.col-7{
    background-color: white;
    height: 80vh;
    border-radius: 10px;

}
.col-4{
    background-color: white;
    height: 40vh;
    border-radius: 10px;
}
.col-7 h4 {
    text-align: start;
    margin-top: 3%;
    margin-left: 3%;
}
.line {
    color: #d0d0d0;
}
.form-label{
    text-align: start;
    display: block;
}

.dropdown :nth-child(1) {
    width: 100%;
   color: #6c6c6c;

}

.mb-3{
    margin-top: 5%;
}
.col-12{
    background-color: #D9415D;
}
.col-5{
    background-color: white; 
    width: 39%; 
    height: 60vh;
    margin-top: 3%;
    border-radius: 10px;

}
.col-5 h4 {
    text-align: start;
    margin-top: 3%;
    margin-left: 3%;
}
.col-4 h4{
    text-align: start;
    margin-top: 3%;
    margin-left: 3%;
}
.file {
    
    margin-top: 6%;
    background-color: #0158A8;
    border: none;
    width: 70%;
    font-size: 12px;
    color: white;

}