*{
    margin: 0px;
    padding: 0px;}
body{
    background-color: #f8f9fa;}

.container{
   
    margin-right: 7%;}

.nav {
   background-color: #0158A8;}

.d-flex {
    width: 30%;}

.d-flex :nth-child(1) {
    border-radius: 30PX;
    border: none;
    color: gray;
}
.d-flex :nth-child(2){
    background-color: #D9415D;
    border-radius: 30px;
    border: none;
    color: white;}



.list-group{
    background-color: #ffffff;
    width: 100%;
    height: 70vh;
    border-radius:0px;
    margin-top: 6%;
    border-radius: 20px;
    box-shadow: #b2daff 0px 0px 23px -7px;
 

}
.list-group :nth-child(1){
    margin-top: 28%;
}
.list-group li{
    border: none;
    background-color: white;
   height: 10%;
    text-align: start;
    display: flex;
    align-items: center;
    justify-content:start;
    margin-top: 5%;
    margin-left: 10%;
    color: rgb(52, 52, 52);
    
}
.list-group li img {
    width: 15%;
    padding-bottom: 35%;
   
}
.list-group li p{
    padding-left: 10%;
    font-size: 1.2rem;
}
.dashboard-h2 h2{
    margin-top: 3%;
    text-align: start;
    margin-left: 5%;
}
.dashboard-h2 p{
    margin-left: 5%;
    text-align: start;
}
.col-4{
    margin-top: 5%;
    
    
}
.col-4 button{
    width: 50%;
    background-color: #0158A8;
    border: none;
    margin-left: 35%;
}
.col-card{
    width: 21%;
    height: 20vh;
    background-color:rgb(255, 255, 255) ;
    border-radius: 15px;
    gap: 2%;
    margin-top: 3%;
  
}
.Sale-static{
    background-color: white;
    border-radius: 10px;
    height: 50vh;
    margin-top: 3%;
    margin-left: 5%;
}
.Sale-static p {
 text-align: start;
 margin-left: 5%;
 padding-top: 2%;
 
}
.right-col-4{
    background-color: white;
    width: 30%;
    margin-top: 2%;
    border-radius: 8px;

}